/* Your Website Styles */


/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}*/

body{
	background: url("../img/bkg.png");
	color: #425942;
}

header{
	text-align: center;
	background: rgba(66, 89, 66, .3);
	height: 100px;
	line-height: 100px;
	margin-top: 0px;
}

article{
	background: rgba(242, 213, 191, .5);
	position: relative;
}

section{
	position: relative;
}

footer{
	background: rgba(66, 89, 66, .3);
	padding:10px;
}

aside{
	height:1408px;
	background: rgba(115, 98, 85, .3);
}

h1, h3, p{
	margin: 10px 10px 0 10px;
}

h1{
	font-family: 'Playball', cursive;
}

h2, h3{
	font-family: 'Simonetta', cursive;
}

p{
	font-family: 'Cantata One', serif;
}

header h1{
	margin:0;
}

hr{
	margin:20px 0 20px 0;
}

section h2{
	background: rgba(115, 98, 85, .3);
	padding:15px 0 15px 20px;
	margin:0 0 15px 0;
	display: block;
	position: relative;
	left:-20px;
	width: 100%;
	text-indent: 10px;
}

aside h2{
	background: rgba(242, 213, 191, .3);
	padding: 5px;
}

ul{
	list-style: none;
}

a:link,
a:visited{
	text-decoration: none;
	color:#736255;
}

a:hover,
a:active{
	background:rgba(140,166,139,.5);
	padding: 1px;
}

.nomargin{
	margin-bottom:0;
}